
{% extends 'base.html.twig' %}
        {% block body %}
            <h1 class="text-center">{{ Item.name }}</h1>
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto" style="width: 20rem">
                        <img src="../../{{ Item.image }}" class="img-fluid" alt="item image">
                    </div>

                    <div class="col">
                        <div class="card-block px-2">
                            <h4 class="card-title">Ingredienten </h4>
                            <p class="card-text">{{ Item.description }}</p>
                            {{ form_start(orderForm) }}
                            {{ form_widget(orderForm) }}
                            <div class="form-group">

                                <label for="sel1">Kies Grote:</label>
                                <select class="form-control" id="">
                                    <option value="1">Klein</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Groot</option>
                                    <option value="4">Extra Groot</option>
                                </select>
                                <label for="sel1">Kies Aantal:</label>
                                <input type="number" class="form-control">
                                <button type="submit" class="btn-primary form-control">Toevoegen</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(orderForm) }}

                </div>
                <div class="card-footer w-100 text-muted">
                    <small>Vanaf €{{ Item.price }}</small>
                </div>
            </div>
        {% endblock %}
